<div><h1>Registration</h1></div>
<div>
    <form (submit)="addUser(usernameInput.value, passwordInoput.value)">
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" #usernameInput>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" #passwordInoput>
        </div>
        <button type="submit">Register</button>
    </form>

</div>

<div>
  <h3>Username and Passowrd creation rules:</h3>
  <h4>Username:</h4>
  <ul>
    <li>Minimum length of 3 characters</li>
    <li>Can only be alphanumeric characters</li>
  </ul>
  <h4>Passowrd:</h4>
  <ul>
    <li>Minimum length of 8 characters</li>
    <li>Needs at least a upper case letter, a lower case letter and a number</li>
  </ul>
</div>

