body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
  
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 50px;
}
  
.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #333;
}
  
.buttons {
  display: flex;
  justify-content: center;
}
  
.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
  background-color: #333;
  border: none;
  cursor: pointer;
}
  
.register {
  background-color: #000000;
}
  
.login {
  background-color: #000000;
}
  
.button:hover {
  background-color: #000000;
}