<body>
<header>
    <h1>Profile</h1>
    <button (click)="goToDashboard()">Go back
        <span class="material-symbols-outlined">home</span>
    </button>
</header>
<div>
    <p><strong>Profile Picture:</strong></p>
    <label>
        <img [src]="user.image" style="width: 100px; height: 100px;">
    </label>
</div>
<div>
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Wallet:</strong> {{user.wallet}}</p>
</div>

<div>
    <button (click)="goToMyList()">My Library</button>
    <button (click)="showNotImplemented()">My List</button> 
    <button (click)="redirectUserUpdate()">Update Profile</button>

</div>
</body>