<body> 
    <header>
        <div class="direita">
			<button (click)="goToDashboard()">Go to Dashboard</button>
            <button (click)="goToCheckout()">Go to Checkout</button>
		</div>
    </header>

    <div class="item-list">
        <h2>User Cart</h2>
        <ul style="list-style-type: none;">
        <li *ngFor="let item of items | keyvalue">
            <div class="item-card">
            <img class="item-image" src="{{ getItemImage(item.key) }}" alt="Item Image" />
            <h3 class="item-title">{{ item.key }}</h3>
            <p id="item-quantity" class="item-price">{{ item.value }}</p>
            <p class="item-description">{{ getItemDetail(item.key) }}</p>
            <button class="delete-button" (click)="deleteItemFromCart(item.key)">Delete</button>
            <button class="alter-button" (click)="openAlterDialog(item.key)">Alter</button>
            </div>
        </li>
        </ul>
    </div>
    
</body>
