<div>
  <header>
    <h1>User Cart</h1>
    <div class="direita">
      <button (click)="goToDashboard()">Go to Dashboard</button>
    

    <div class="checkout">
      <button (click)="goToCheckout()">Checkout
        <span class="material-symbols-outlined">credit_card</span>
      </button>
      
    </div>
  </div>
  </header>

    <ul style="list-style-type: none;">
      <li *ngFor="let item of items | keyvalue">
        <div class="item-card">
          <img class="item-image" src="{{ getItemImage(item.key) }}" alt="Item Image" />
          <h3 class="item-title">{{ item.key }}</h3>
          <p class="item-price">{{ item.value }}</p>
          <p class="item-description">{{ getItemDetail(item.key) }}</p>
        </div>  

      </li>
    </ul>
</div>