<body>
    <header>
        <h1>Profile</h1>
        <button (click)="returnToProfile()">Go back</button>
    </header>
    <div>
        <p><strong>Profile Picture:</strong> Not profile picture selected</p>
        <p><strong>Username:</strong> {{tempuser.username}}</p>
        <p><strong>Wallet:</strong> {{tempuser.wallet}}</p>
    </div>
    
    <div>
        <p> Alterar Nome: </p> <br>
        <input id="username" type="text" #username/>
        <p> Alterar imagem: </p> <br>
        <input id= "imagepath" type="image"  #imagepath/>   
        <button (click)="updateUser(username.value, imagepath.value)">Update Profile</button>
    </div>
    </body>