<body>
	<header>
		<h1>Dashboard</h1>
		<div class="direita">
			<button #myButton1 (click)="goToUserProfile()">Profile</button>
			<div class="cart">
				<button #myButton2 class="material-symbols-outlined" (click)="goToCart()">
					shopping_cart
				</button>
				<span class="quantity">{{ cartSize }}</span>
			</div>
		</div>
	</header>
	<nav>
		<ul>
			<button #myButton3 (click)="showNotImplemented()">Lists</button>
			<button #myButton4 (click)="goToLibrary()">Library of Games</button>
			<button #myButton5 (click)="showNotImplemented()">Followers</button>
			<button #myButton6 (click)="showNotImplemented()">Following</button>

		</ul>
	</nav>
	
	<item-search></item-search>
</body>