<body>
    <header>
        <h1>Item detail</h1>
        <button (click)="goToDashboard()">Go back</button>
    </header>
    <div>
        <p><strong>Item Picture:</strong> Not item picture selected</p>
        <p><strong>Title:</strong> {{item.title}}</p>
        <p><strong>Type:</strong> {{item.type}}</p>
        <p><strong>Description:</strong> {{item.description}}</p>
        <p><strong>Platform:</strong> {{item.platform}}</p>
        <p><strong>Languages:</strong> {{item.languages}}</p>
        <p><strong>Price:</strong> {{item.price}}</p>
        <p><strong>Classification:</strong> {{item.classification}}</p>
    </div>
</body>