<body>
    <header>
        <h1>Item detail</h1>
        <div class="direita">
			<button (click)="goToDashboard()">Go to Dashboard</button>
            <button (click)="goToLibrary()">Go to Library</button>
			<div class="cart">
				<button class="material-symbols-outlined">
					shopping_cart
				</button>
				<span class="quantity">{{ cartSize }}</span>
			</div>
		</div>
    </header>
    <div>
        <p><img [src]="tempItem.image" style="width: 100px; height: 100px;"></p>
        <p><strong>Title:</strong> {{tempItem.title}}</p>
        <p><strong>Type:</strong> {{tempItem.type}}</p>
        <p><strong>Description:</strong> {{tempItem.description}}</p>
        <p><strong>Platform:</strong> {{tempItem.platform}}</p>
        <p><strong>Languages:</strong> {{tempItem.languages.toString()}}</p>
        <p><strong>Price:</strong> {{tempItem.price}}</p>
        <p><strong>Classification:</strong> {{tempItem.classification}}</p>
    </div>
    <button (click)="itemToCard()">Add to cart</button>
</body>