<body>
    <header>
        <div class="esquerda">
        <h1>Checkout</h1>
        <h2> Almost there! <br> Just a few last steps to finish  </h2>
        </div>
        <div class="direita">
        <button (click)="goToDashboard()">Go back</button>
        </div>
    </header>
    <div class="container">
        <div>
            <form [formGroup]="checkoutForm" (ngSubmit)="checkout()">
                <div class="row">
    
                    <div class="col">
                        <h3 class="title"> Informations</h3>
                        <div class="inputBox">
                            <span>NIF:</span>
                            <input type="text" placeholder="123456789" formControlName="nif">
                            <div *ngIf="checkoutForm.get('nif')?.invalid && (checkoutForm.get('nif')?.dirty || checkoutForm.get('nif')?.touched)">
                              <div *ngIf="checkoutForm.get('nif')?.errors?.['required']">NIF is required.</div>
                              <div *ngIf="checkoutForm.get('nif')?.errors?.['pattern']">Invalid NIF. It should be a 9-digit number.</div>
                            </div>
                          </div>

                          <div class="inputBox">
                            <span>Email:</span>
                            <input type="email" placeholder="example@example.com" formControlName="email">
                            <div *ngIf="checkoutForm.get('email')?.invalid && (checkoutForm.get('email')?.dirty || checkoutForm.get('email')?.touched)">
                              <div *ngIf="checkoutForm.get('email')?.errors?.['required']">Email is required.</div>
                              <div *ngIf="checkoutForm.get('email')?.errors?.['email']">Invalid email address.</div>
                            </div>
                          </div>

                          <div class="inputBox">
                            <span>Morada:</span>
                            <input type="text" placeholder="Rua Dona Arlinda" formControlName="address">
                            <div *ngIf="checkoutForm.get('address')?.invalid && (checkoutForm.get('address')?.dirty || checkoutForm.get('address')?.touched)">
                              <div *ngIf="checkoutForm.get('address')?.errors?.['required']">Address is required.</div>
                            </div>
                          </div>

                          <div class="flex">
                            <div class="inputBox">
                              <span>Cidade:</span>
                              <input type="text" placeholder="Lisboa" formControlName="city">
                              <div *ngIf="checkoutForm.get('city')?.invalid && (checkoutForm.get('city')?.dirty || checkoutForm.get('city')?.touched)">
                                <div *ngIf="checkoutForm.get('city')?.errors?.['required']">City is required.</div>
                                <div *ngIf="checkoutForm.get('city')?.errors?.['pattern']">Insert a city</div>
                              </div>
                            </div>
                            <div class="inputBox">
                                <span>Código postal:</span>
                                <input type="text" placeholder="1234-567" formControlName="postalCode">
                                <div *ngIf="checkoutForm.get('postalCode')?.invalid && (checkoutForm.get('postalCode')?.dirty || checkoutForm.get('postalCode')?.touched)">
                                  <div *ngIf="checkoutForm.get('postalCode')?.errors?.['required']">Postal code is required.</div>
                                  <div *ngIf="checkoutForm.get('postalCode')?.errors?.['pattern']">Invalid postal code. It should be in the XXXX-XXX format.</div>
                                </div>
                              </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <h3 class="title"> Payment method
                        </h3>
                        <div class="inputBox">
                            <span>Cards accepted:</span>
                            <select name="format" id="format" formControlName="cardType">
                              <option selected disabled>Choose an Option</option>
                              <option value="credit">Credit</option>
                              <option value="debit">Debit</option>
                            </select>
                            <div *ngIf="checkoutForm.get('cardType')?.invalid && (checkoutForm.get('cardType')?.dirty || checkoutForm.get('cardType')?.touched)">
                              <div *ngIf="checkoutForm.get('cardType')?.errors?.['required']">Card type is required.</div>
                            </div>
                          </div>
                        
                          <div class="inputBox">
                            <span>Name on card:</span>
                            <input type="text" placeholder="Felizberto Rodrigues" formControlName="cardName">
                            <div *ngIf="checkoutForm.get('cardName')?.invalid && (checkoutForm.get('cardName')?.dirty || checkoutForm.get('cardName')?.touched)">
                              <div *ngIf="checkoutForm.get('cardName')?.errors?.['required']">Name on card is required.</div>
                              <div *ngIf="checkoutForm.get('cardName')?.errors?.['pattern']">letters only in this section.</div>
                            </div>
                          </div>
                        
                          <div class="inputBox">
                            <span>Number on card:</span>
                            <input type="text" placeholder="1111 2222 3333 4444" formControlName="cardNumber">
                            <div *ngIf="checkoutForm.get('cardNumber')?.invalid && (checkoutForm.get('cardNumber')?.dirty || checkoutForm.get('cardNumber')?.touched)">
                              <div *ngIf="checkoutForm.get('cardNumber')?.errors?.['required']">Number on card is required.</div>
                              <div *ngIf="checkoutForm.get('cardNumber')?.errors?.['pattern']">Invalid card number. It should be only numbers in the XXXX XXXX XXXX XXXX format.</div>
                            </div>
                          </div>

                          <div class="flex">
                            <div class="inputBox">
                              <span>Exp date:</span>
                              <input type="text" placeholder="07/23" formControlName="expDate">
                              <div *ngIf="checkoutForm.get('expDate')?.invalid && (checkoutForm.get('expDate')?.dirty || checkoutForm.get('expDate')?.touched)">
                                <div *ngIf="checkoutForm.get('expDate')?.errors?.['required']">Expiration date is required.</div>
                                <div *ngIf="checkoutForm.get('expDate')?.errors?.['pattern']">Invalid expiration date. It should be in the MM/YY format.</div>
                              </div>
                            </div>
                        
                            <div class="inputBox">
                              <span>Security number:</span>
                              <input type="text" placeholder="123" formControlName="securityNumber">
                              <div *ngIf="checkoutForm.get('securityNumber')?.invalid && (checkoutForm.get('securityNumber')?.dirty || checkoutForm.get('securityNumber')?.touched)">
                                <div *ngIf="checkoutForm.get('securityNumber')?.errors?.['required']">Security number is required.</div>
                                <div *ngIf="checkoutForm.get('securityNumber')?.errors?.['pattern']">Invalid security number. It should be a 3-digit number.</div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <input  tabindex="0" type="submit" value="Ready to submit" class="submit-btn">
            </form>
        </div>
    </div>
</body>